name: 03 - Actions 1.0

on: 
    push:
        branches: "feature/**"

jobs:
    checkout_java_docker:
        #sistema operacional linux para o docker rodar 
        runs-on: ubuntu-latest
        steps:            
            - name: Git Checkout
              uses: actions/checkout@v4

            - name: Setup Java SDK
              uses: actions/setup-java@v4
              with:
                distribution: 'temurin' 
                java-version: '17'
            
            - name: run tests
              run: mvn clean test

            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}   
                
            - name: Build Docker image
              run: docker build -t my-app:${{ github.sha }} .

            - name: Tag Docker image
              run: docker tag my-app:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}
      
            - name: Push Docker image
              run: docker push ${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}   
            
            - name: 'Login to Azure'
              uses: azure/login@v1
              with:
                creds: ${{ secrets.AZURE_CREDENTIALS }}
      
            - name: 'Deploy to Azure Web App'
              uses: azure/webapps-deploy@v2
              with:
                app-name: 'traffic-manager-api'
                images: '${{ secrets.DOCKER_USERNAME }}/my-app:${{ github.sha }}'
            